body {
  background-color: #0D1117;
  margin: 0;
}

.container {
  padding: 4px;
  text-align: center;
}

header {
            font-family: Verdana;
            background: linear-gradient(90deg, rgba(255,176,64,0.9389005602240896) 0%, rgba(255,132,0,0.7988445378151261) 35%, rgba(255,166,0,1) 88%);
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 100, 0.1);
            color: #0D1117;
            position: sticky;
            border: none;
        }

        /* Container for logo and navigation */
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        nav ul {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;
          gap: 20px;
        }
        nav ul li {
            display: inline;
        }
        /* Style for the navigation links */
        nav ul li a {
            color: #0D1117;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            transition: color 0.3s ease;
        }
        nav ul li a:hover {
          color: white;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 5px;
          border-radius: 5px;
        }

footer {
  background: linear-gradient(90deg, rgba(255,176,64,0.9389005602240896) 0%, rgba(255,132,0,0.7988445378151261) 35%, rgba(255,166,0,1) 88%);
  position: fixed;
  padding: 1em;
  font-family: Verdana;
  font-size: 16px;
  bottom: 0;
  width: 100%;
}


        
        
