body {
  background-color: black;

}

header {
            font-family: Verdana;
            background: linear-gradient(90deg, rgba(251,147,0,0.9389005602240896) 0%, rgba(255,132,0,0.7988445378151261) 35%, rgba(255,196,0,1) 100%);
            padding: 20px;
            box-shadow: 0 4px 6px rgba(100, 100, 100, 0.1);
            color: black;
            position: sticky;
            
        }

        /* Container for logo and navigation */
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        .container a {
          text-decoration: none;
        }
        nav ul {
          display: flex;
          list-style-type: none;

        }
          
          nav a:hover {
            color: #f4f4f4;
            background-color: #555;
            padding: 5px;
            border-radius: 5px;
          }
